html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

#landing{

	width: 100%;
	display: block;
	height: inherit;

	div{

		width: inherit;
		height: 48.5%;
		display: flex;
		position: relative;

		&.row-black{
			background: black;
			background-color: black;
		}

		&.row-red{
			background: #990100;
			background-color: #990100;
		}

		&.hide-logo{
			z-index: 20;
		}

		&.row-white{
			background: white;
			background-color: white;
		}

		.circle{

			margin: 0 auto;
			position: relative;
			top: 100px;
			border: 3px solid black;
			padding: 50px 50px 50px 50px;
			border-radius: 200px;
			height: 50px;
			width: 50px;
			text-align: center;
			// background: #990100;
			background-color: #990100;

			span{
				padding: 10px;
			}

		}

		.logo{
			z-index: 10;
			top: 800px;
		}
	}
}