
@keyframes fadein {
    from { background-color: black; }
    to   { background-color: white; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { background-color: black; }
    to   { background-color: white; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { background-color: black; }
    to   { background-color: white; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { background-color: black; }
    to   { background-color: white; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { background-color: black; }
    to   { background-color: white; }
}

@font-face{
	  font-family: 'bignoodletitling';
  		src: url('bignoodletitling.eot'); /* IE9 Compat Modes */
  		src: url('bignoodletitling.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      	url('bignoodletitling.woff2') format('woff2'), /* Super Modern Browsers */
       	url('bignoodletitling.woff') format('woff'), /* Pretty Modern Browsers */
       	url('bignoodletitling.ttf')  format('truetype'), /* Safari, Android, iOS */
       	url('bignoodletitling.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'bignoodletitling', sans-serif;
}

#landing{

	width: 100%;
	display: block;
	height: inherit;

	div{

		width: inherit;
		height: 99.99999%;
		display: flex;
		position: relative;

		&.row-black{
			background: black;
			background-color: black;
		}

		&.row-red{
			background: #990100;
			background-color: #990100;
		}

		&.hide-logo{
			z-index: 20;
		}

		&.row-white{
			background: white;
			background-color: white;
		}

		&.trans-black-white{
			-webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
	       -moz-animation: fadein 10s; /* Firefox < 16 */
	        -ms-animation: fadein 10s; /* Internet Explorer */
	         -o-animation: fadein 10s; /* Opera < 12.1 */
	            animation: fadein 10s;
		}

		.circle{

			margin: 0 auto;
			position: relative;
			top: 100px;
			// border: 3px solid black;
			padding: 50px 50px 50px 50px;
			border-radius: 200px;
			height: 50px;
			width: 50px;
			text-align: center;
			// background: #990100;
			background-color: #990100;

			span{
				padding: 0;

				&.text{
					font-family: bignoodletitling;
					font-size: 45px;
				}
			}

		}

		.logo{
			z-index: 10;
			top: 800px;
		}
	}
}